version: "3.9"

name: moneymap

services:
    db:
        image: postgres:16
        restart: always
        shm_size: 128mb
        environment:
            POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
            POSTGRES_DB: ${POSTGRES_DB}
        volumes:
            - ./Database/schema.sql:/docker-entrypoint-initdb.d/schema.sql
            - pgdata:/var/lib/postgresql/data
        ports:
            - "5432:5432"
        healthcheck:
            test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER:-postgres}"]
            interval: 5s
            timeout: 5s
            retries: 5

volumes:
    pgdata:
